{% extends 'base.html' %}
{% block title %}Blog - Detalhe{% endblock title %}

{% block content %}
    
    <div class="post-entry">
        <h2>{{ custom.titulo }}</h2>
        <p>{{ custom.conteudo }}</p>
        <p>{{ custom.status }}</p>
        <p>{{ custom.publicado }}</p>
    </div>

    <a style="margin-right: 10px;" href="{% url 'post_edit' custom.slug custom.pk %}">+ Editar Postagem do Blog</a>
    <a href="{% url 'post_delete' custom.slug custom.pk %}">- Deletar Postagem do Blog</a>

{% endblock content %}