{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <meta name="author" content="Fabricio Roglio">
    <meta name="keywords" content="teste">
    <meta name="description" content="Blog de teste Django">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="/">Blog - Home</a></h1>
        </div>
        <div class="nav-right">
            <h1><a href="{% url 'post_new' %}">+ Nova Postagem no Blog</a></h1>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>